*{ margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Titillium Web', sans-serif;
   }
     
    section{
          padding: 100px 0px;
                }
  .container{
      width: 90%;
      margin: auto;
        }
    
   header {
         width:100%;
         float:left;
         background-color: #303030;
         color:#ffff;
         }
    nav {
            width: 100%;
            float: left;
            padding: 10px 0px;
         }
   .logo-part{
               width:20%;
               float: left;
               padding-left: 25px;
               }
   .menu-part{
              width: 50%;
              float: left;
              padding: 10px 0px;
              text-align: end;
              margin-left: 20px;
              margin-right: 200px;
                  }
   .menu-part li{
               display: inline-block;
               margin: 0px 10px;
               padding: 5px;
               border-radius: 5px;
               }
   .menu-part li:hover{
               background-color: rgb(0, 0, 0,0.37);
   }
   .menu-part a{
               font-size: 17px;
               color: #ffff;
               font-weight: 600;
               text-transform: uppercase;
   }
   .icon-bar{
               width:10%;
               float: right;
               margin-top: 20px;
               padding-left: 20px;
   }
   
    
     #service{
     color: #ffffff;
      text-align: center;
      float: left;
      width: 100%;
     background-image: url(../image/img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
       }

       
   .hero-text{
    width:50%;
    float:left;
    margin-top: 150px;
    margin-bottom: 30px;
    text-align: left;
     }
 .hero-text h1{
             font-size: 65px;
             font-weight: 600;
             width: 60%;
             margin: auto;
             float:left;
               }
        .hero-text p{
                font-size: 25px;
                font-weight: 400;
                width: 60%;
                margin: auto;
                float:left;
               }
  
               .hero-text a button{
                width:40%;
                padding: 30px;
                margin-top: 30px;
                margin-bottom: 0.5px;
                margin-left: 3px;
                font-size: 30px;
                color: #ffffff;
                background-color: #e8631c;
                transition:ease-in-out 0.8s;
                text-transform: uppercase;

  }
.hero-text a button:hover{
            box-shadow: 0px 0px 4px #fb4f00;
            border-radius: 5px;
     }

     #Dance{
      color: #ffffff;
       text-align: center;
       float: left;
       width: 100%;
      background-image: url(../image/img-2.png);
      background-repeat: no-repeat;
     background-size: cover;
     background-position:center;
     background-attachment: fixed;
        }

        .dance-team-part h1{
          font-size: 35px;
          font-weight: 600;
          width: 50%;
          margin: auto;
          text-transform: uppercase;
         
              }

            .dance-team-part p{
              font-size: 20px;
              width: 50%;
              margin: auto;
              padding-top: 20px;
                }

        .dance-team-part{
          width: 100%;
          float: left;
               }

       .dance-boxing-part{
          width: 100%;
          float: left;
          margin-top: 50px;
          
          
       }

       .dance-box{
          width: 33%;
          float: left;
          margin: auto;
            
           }
       .dance-box img{
        width: 250px;
        height: 250px;
        
         
       }

       .back-ground{
        background-image: url(../image/back.png);
        padding:10px;
         width: 49%;
         height: 120px;
         margin: auto;
         t
       }

       #Pricing{
        color: #ffffff;
         text-align: center;
         float: left;
         width: 100%;
        background-image: url(../image/back2.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position:center;
       background-attachment: fixed;
          }
          .pricing-part h1{
            font-size: 35px;
            font-weight: 600;
            width: 50%;
            margin: auto;
            text-transform: uppercase;
           
                }
  
                .pricing-part p{
                  font-size: 20px;
                  width: 50%;
                  margin: auto;
                  padding-top: 20px 50px;
                    }
    
            .pricing-part{
              width: 100%;
              float: left;
                   }
    
           .Pricing-boxing-part{
              width: 33%;
              float: left;
              margin:35px 0;
             
                   }
    
           
           .Pricing-box img{
            width: 250px;
            height: 250px;
            
             
           }

           #Amazing{
            color: #ffffff;
             text-align: center;
             float: left;
             width: 100%;
            background-image: url(../image/back2.png);
           background-repeat: no-repeat;
           background-size: cover;
           background-position:center;
           background-attachment: fixed;
              }
              .Amazing-part h1{
                font-size: 35px;
                font-weight: 600;
                width: 50%;
                margin: auto;
                text-transform: uppercase;
               
                    }
      
                    .Amazing-part p{
                      font-size: 20px;
                      width: 50%;
                      margin: auto;
                      padding-top: 20px 50px;
                        }
        
                .Amazing-part{
                  width: 100%;
                  float: left;
                       }
        
               .Amazing-boxing-part{
                  width: 43%;
                  float: left;
                                  
                       }
        
               
             